:root {
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: var(--main-font), var(--secondary-font), sans-serif;
  background-color: var(--white);
  color: var(--navyblue);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  list-style-type: none;
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0px auto;
  padding: 0 15px;
}

/* ##### COMPONENTS ##### */
* {
  margin: 0px;
  padding: 0px;
}

/* ##### END COMPONENTS ##### */

/* ##### HEADER ##### */
.header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
  margin: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.head {
  flex-direction: row;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 76px;
}

.navigation-list {
  display: flex;
  padding-left: 76px;
  gap: 40px;
  align-items: center;
  flex-direction: row;
}

.address {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 40px;
}

.navigation-logo {
  font-family: var(--secondary-font);
  color: var(--navyblue);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.54px;
  text-decoration: none;
}
.navigation-logo:active {
  color: var(--navyblue);
}
.navigation-logo-color {
  color: var(--iris);
}

.link:visited {
  text-decoration: none;
}
.navigation-list-link {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  list-style-type: none;
  letter-spacing: 0.32px;
  padding: 24px 0;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contact:hover,
.contact:focus {
  color: var(--ocean);
}
.navigation-list .current {
  position: relative;
  color: var(--ocean);
}
.navigation-list .current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
}
.addres-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* ##### END HEADER ##### */

/* ##### MAIN ##### */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.main > .section {
  margin: 120px 0px 0 0px;
}

.main > .section:first-child {
  padding: 188px 457px;
  max-width: 1440px;
  height: 600px;
  margin: auto;
  background-color: var(--navyblue);
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('https://s3-alpha-sig.figma.com/img/7c8d/46d4/7e83b6c8ee4603ea892aa8aaebb3c5fe?Expires=1698624000&Signature=aGT5mwKkYtxeJ5qNd8kCYCpjpk6tlyXxhqmE6oCc2IS1Hy7IgMCgLRA~kX7S7DoM9Jr93JlGVG62akrlSMIRQ-vE9IXuMt0IUcTLXztinrEcHN1GaiopyOLXqv72piSOCHYYSlSZ7rUbfDLuAnpJAI~1yL8xqCtF30YWQ9QxPLbc5Z8gENQ17ik~wSvSva0BYOW9l64m6Mv~1j4SkTKJBZOmdc1NDu~aPzuMauCQNOJt3KfEAyn4RQ-FyQJEBdzBK5XUmqgTjJ1d8oO8hgmrJ2lvqst1Vmu7WbgkA8i4Cu2xD-c~7iHDGppFfjpf45W~BYEjJ7IXfcPa2rXtJbwIqg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  background-size: cover;
  background-position: center;
}
.main > .section > .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-texth1 {
  width: 496px;
  height: 120px;
  font-size: 56px;
  line-height: 1.071;
  text-align: center;
  letter-spacing: 1.12px;
  color: var(--white);
  margin-bottom: 46px;
}

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  gap: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.64px;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
  cursor: pointer;
}
/* ##### SECOND SECTION ##### */
.main-list {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  gap: 24px;
}

.main-list-texth3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.03em;
  margin: 8px 0;
  text-transform: capitalize;
}

.main-list-texth3::first-letter {
  text-transform: uppercase;
}

.main-list-undertitle {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
  width: 264px;
}

.main-list-icon {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud);
  padding: 24px 100px;
  display: block;
}

/* ##### SECOND SECTION END ##### */

/* ##### THIRD/FOURTH SECTION ##### */

.main > .section:nth-child(4) {
  background: var(--cloud, #f4f4fd);
  padding: 120px 0;
}
.main > .section:nth-child(5) {
  margin: 120px;
}

.main-texth2 {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 72px;
  text-transform: capitalize;
}

.main-list-team {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  gap: 24px;
}
.main-list-team-piciture {
  display: inline-flex;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.main-list-team-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 32px;
}

.main-list-team-under {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--slate);
  margin: 8px 0 8px 0;
}

.main-list-team-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

.main-list-team-icon-background {
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-list-team-icon-background:hover,
.main-list-team-icon-background:focus {
  background-color: var(--ocean);
  cursor: pointer;
}
.main-list-customer {
  width: 168px;
  height: 88px;
}

.main-list-customer-link {
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightslate);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-list-customer-icon {
  padding: 16px 32px;
  fill: currentColor;
}

.main-list-customer-link:hover,
.main-list-customer-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
  cursor: pointer;
}
/* ##### END MAIN ##### */

/* ##### FOOTER ##### */
.footer .logo-footer {
  color: var(--cloud);
  font-weight: 800;
  display: flex;
  margin-bottom: 17.5px;
}
.footer {
  background: var(--navyblue);
  padding: 101.5px 0 100px 0;
  margin: auto;
}

.footer-mission {
  font-family: var(--main-font);
  color: var(--cloud);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
  height: 72px;
}
.footer-container-logo {
  margin-right: 120px;
}

.footer-container-social {
  width: 208px;
  height: 80px;
}

.footer-container-text-p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  display: flex;
  margin-bottom: 16px;
}
.footer-container-social-h3::first-letter {
  text-transform: uppercase;
}

.footer > .container {
  display: flex;
}
.footer-container-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-container-social-icon-link {
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-container-social-icon-link:hover,
.footer-container-social-icon-link:focus {
  background-color: var(--green);
  cursor: pointer;
}
.footer-container-subscribe {
  margin-left: 80px;
}
.footer-container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-container-subscribe-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--white);
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
}
.footer-container-subscribe-input::placeholder {
  color: var(--white);
}

.footer-container-subscribe-button {
  display: inline-flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  fill: currentColor;
}
.footer-container-subscribe-button-svg{
  margin-left: 16px;
}
/* ##### END FOOTER ##### */

/* ################# PORTFOLIO ################## */

/* ##### FILTR ##### */
.search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin: 96px 0 72px 0;
}

.search-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--iris);
  padding: 12px 24px;
  background-color: var(--cornflower);
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-property: color, background, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.search-btn:hover,
.search-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
  border-color: var(--ocean);
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* ##### END FILTR ##### */

/* ##### MAIN ##### */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-portfolio-section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.main-portfolio > .main-portfolio-section {
  margin-bottom: 120px;
}

.portfolio-main-list-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04px;
  padding-top: 32px;
  color: var(--navyblue);
}

.portfolio-main-list-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--slate);
  padding-top: 8px;
  padding-bottom: 32px;
}

.portfolio-main-list-section {
  width: 360px;
}

.portfolio-main-list-link:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.portfolio-main-list-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-main-list-link {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.portfolio-main-image-block {
  display: block;
}

.portfolio-main-list-card {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  border-left: 1px solid var(--cornflower, #e7e9fc);
  border-right: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  width: 360px;
  padding: 0 16px;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  transition: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transform: translatey(100%);
  padding: 40px 32px;
}

.portfolio-main-list-link:hover .portfolio-overlay-text,
.portfolio-main-list-link:focus .portfolio-overlay-text {
  transform: translateY(0);
}
/* ##### END MAIN ##### */

/* ##### MODAL #####*/
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: all;
  background-color: var(--navybluemodal);
  transition: opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal-window.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-body {
  position: absolute;
  background-color: var(--dairy);
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 72px 24px 24px 24px;
}
.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  position: absolute;
  fill: var(--navyblue);
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--ocean);
  border: none;
  fill: #ffffff;
}

.modal-close-x {
  width: 8px;
  height: 8px;
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-body-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.modal-body-form-container{
  position: relative;
  display: block;
  margin-bottom: 8px;
}
.modal-body-form-container-comment{
  margin-bottom: 16px;
}

.modal-body-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--navyblue);
  margin-bottom: 16px;
  text-align: center;
}

.modal-body-form-label {
  display: block;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
  color: var(--lightslate);
}
.modal-body-form-label-div {
  position: relative;
  color: var(--navyblue);
}

.modal-body-form-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navybluemodal);
  padding-left: 38px;
  font-size: 18px;
  background-color: transparent;
  color: var(--navyblue);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-body-form-input:focus,
.modal-body-form-comment:focus {
  border: 1px solid var(--iris);
}
.modal-body-form-input:focus + svg {
  fill: var(--iris);
}

.modal-body-form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-body-form-comment {
  width: 360px;
  height: 120px;
  resize: none;
  border-radius: 4px;
  color: var(--navybluemodal);
  border: 1px solid var(--navybluemodal);
  background-color: transparent;
  margin-top: 4px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-body-form-comment::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--navybluemodal);
}
.modal-body-privacy {
  margin-bottom: 24px;
}

.modal-body-privacy-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--lightslate);
}
.modal-body-privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-body-privacy-box:checked + label>span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-body-privacy-link {
  color: var(--iris);
}
.modal-body-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-body-button:hover,
.modal-body-button:focus {
  background-color: var(--ocean);
}
/* ##### END-MODAL #####*/
